<div>
    <form class="form" (ngSubmit)="editComponent()">
      <div class="form-group">
        <label for="brand-name">Brand</label>
        <select class="form-control" id="brand-name" required name="brand-name" [(ngModel)]="componentToChange.brand.id">
          <option *ngFor="let brand of brands;" [value]="brand.id">{{brand.name}}</option> 
      </select>
        
      </div>
      <div class="form-group">
        <label for="component-name">Name</label>
        <input class="form-control" name="component-name" type="text"[(ngModel)] = "componentToChange.name" placeholder="Name"
        />
      </div>
      <div class="form-group">
        <label for="component-price">Price</label>
        <input class="form-control" name="component-price" type="number"[(ngModel)] = "componentToChange.price" placeholder="Price"
        />
      </div>
      <input class="btn btn-warning" type="submit" value="Save" />
    </form>
    <button type="button" class="btn btn-danger" (click)="reset()">reset</button>
  </div>
  
